/* app/dashboard/components/Sidebar.module.css */

.sidebar {
  width: 250px;
  background: #36383a;
  color: white;
  padding: 20px;
}
.jo {
  color: white;
  /* text-decoration: none; */
  background-color: #484f55;
  /* margin-top: 12px; */
  /* padding: 11px 81px; */
}
/* .box {
  margin-top: 12px;
  padding: 12px 12px;
} */

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

/* start */
