@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light and dark mode color variables
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --border: #e5e7eb; /* Light gray as border color */

    /* Add other color variables as needed */
    /* --primary: #1e3a8a;
    --secondary: #475569;
    --accent: #2563eb;
  } */


  /* Apply colors to the body */
  body {
    color: black;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Border color custom class */
  .border-border {
    border-color: var(--border);
  }


@layer utilities {
  /* Utility for balanced text */
  .text-balance {
    text-wrap: balance;
  }

  /* Define custom component classes */
  .input-field {
    @apply bg-gray-100 text-sm p-3 rounded-md w-full outline-none mb-3;
  }
  .submit-button {
    @apply bg-blue-800 text-white font-semibold py-2 px-8 rounded-md hover:bg-blue-700;
  }
  .social-icon {
    @apply bg-gray-100 text-gray-600 rounded-full p-2 hover:bg-gray-200 transition;
  }
}
